
.tab h2 {
  font-weight: normal;
  font-size: 20pt;
  margin-top: 0;
}

.tab button {
  
  margin-left:10px;
  background-color: #ccc;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 15pt;
  align-items: center;
}

.tab .selected {
  font-weight: bold;
  background-color: #aaa;
}

.tab h3 {
  font-weight: normal;
  font-size: 25pt;
  margin-left: 15px;
}

.text{
  background-color: #ccc;
  font-weight: normal;
  font-size: 12pt;
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
  width:200pt;
  height: 100pt;
  border-radius: 10px;
  color:black
}

.tabs{
  text-align: left;
}